
    

<div class="container-fluid">
    <div class="row">
        <h2>Chat Application</h2>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div id="username-section" class="form-group">
                <label for="username">Username:</label>
                <input type="text" [(ngModel)]="user" class="form-control" id="username" placeholder="Enter username">
                <!-- <small id="userHelp" class="form-text text-muted">Type your username.</small> -->
            </div>
        </div>
        
        <br><br><br><br><br>
        <div id="join-leave">
            <div > 
                <button type="button" class="btn btn-primary" (click)="join()">Join</button>
                &nbsp;
                <button type="button" class="btn btn-danger" (click)="leave()">Leave</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="well" style="height:200px; padding:15px; width: 600px;">
            <div *ngFor="let item of messageArray">
            <span><strong>{{item.user}} : </strong> {{item.message}}</span>
            </div>
        </div>
    </div>
   
    <div class="row">
        <div id="text-message" class="col-sm-7">
            <input type="text" class="form-control" [(ngModel)]="messageText">            
        </div>
       <br><br><br>
        <div id="send-button" class="col-sm-2">
                <button type="button" class="btn btn-success pull right" (click)="sendMessage()" placeholder="Write message to send">Send</button>
        </div>
    </div>
</div>
